src/main/resources/wsdls/resellers.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://www.mob.com/serverapi/reseller/base" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.mob.com/serverapi/reseller/base" targetNamespace="http://www.mob.com/serverapi/reseller/base">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.mob.com/serverapi/reseller/base">

    <!-- GetResellerById-->
    <xs:element name="GetResellerByIdRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="resellerId" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetResellerByIdResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="reseller" type="tns:Reseller"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- GetResellerByUserId-->
    <xs:element name="GetResellerByUserIdRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="userId" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetResellerByUserIdResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="reseller" type="tns:Reseller"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- GetResellerByUserDeviceName-->
    <xs:element name="GetResellerByUserDeviceNameRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="userDeviceName" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetResellerByUserDeviceNameResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="reseller" type="tns:Reseller"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- GetResellerFiltered-->
    <xs:element name="GetResellerFilteredRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="resellerId" type="xs:string"/>
                <xs:element name="resellerName" type="xs:string"/>
                <xs:element name="onlyChildren" type="xs:boolean"/>
                <xs:element name="field" type="xs:string"/>
                <xs:element name="orderField" type="xs:string"/>
                <xs:element name="offset" type="xs:int"/>
                <xs:element name="numberRecords" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetResellerFilteredResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="reseller" type="tns:Reseller"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- GetAvailableResellerParent-->
    <xs:element name="GetAvailableResellerParentRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="resellerId" type="xs:string"/>
                <xs:element name="offset" type="xs:int"/>
                <xs:element name="numberRecords" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetAvailableResellerParentResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="reseller" type="tns:Reseller"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- GetCountAvailableResellerParent-->
    <xs:element name="GetCountAvailableResellerParentRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="resellerId" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetCountAvailableResellerParentResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="result" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- GetResellerBalanceMovements-->
    <xs:element name="GetResellerBalanceMovementsRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="resellerId" type="xs:string"/>
                <xs:element name="startMovementDate" type="xs:string"/>
                <xs:element name="endMovementDate" type="xs:string"/>
                <xs:element name="minValue" type="xs:string"/>
                <xs:element name="maxValue" type="xs:string"/>
                <xs:element name="debitCredit" type="xs:string"/>
                <xs:element name="movementType" type="xs:string"/>
                <xs:element name="field" type="xs:string"/>
                <xs:element name="orderField" type="xs:string"/>
                <xs:element name="offset" type="xs:int"/>
                <xs:element name="numberRecords" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetResellerBalanceMovementsResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="resellerBalance" type="tns:ResellerBalance"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- GetCountResellerBalanceMovements-->
    <xs:element name="GetCountResellerBalanceMovementsRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="resellerId" type="xs:string"/>
                <xs:element name="startMovementDate" type="xs:string"/>
                <xs:element name="endMovementDate" type="xs:string"/>
                <xs:element name="minValue" type="xs:string"/>
                <xs:element name="maxValue" type="xs:string"/>
                <xs:element name="debitCredit" type="xs:string"/>
                <xs:element name="movementType" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetCountResellerBalanceMovementsResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="result" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- GetCountResellerFiltered-->
    <xs:element name="GetCountResellerFilteredRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="resellerId" type="xs:string"/>
                <xs:element name="resellerName" type="xs:string"/>
                <xs:element name="onlyChildren" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetCountResellerFilteredResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="result" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- GetResellerAssociation-->
    <xs:element name="GetResellerAssociationRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="parentResellerId" type="xs:string"/>
                <xs:element name="childResellerId" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetResellerAssociationResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="resellerAssociation" type="tns:ResellerAssociation"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- GetResellerParentByChildId-->
    <xs:element name="GetResellerParentByChildIdRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="childResellerId" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetResellerParentByChildIdResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="reseller" type="tns:Reseller"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- SetReseller-->
    <xs:element name="SetResellerRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="userId" type="xs:string"/>
                <xs:element name="actionUserId" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="SetResellerResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="reseller" type="tns:Reseller"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- SetResellerBalanceMovement-->
    <xs:element name="SetResellerBalanceMovementRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="resellerId" type="xs:string"/>
                <xs:element name="debitCredit" type="xs:string"/>
                <xs:element name="movementValue" type="xs:float"/>
                <xs:element name="movementType" type="xs:string"/>
                <xs:element name="movementDetail" type="xs:string"/>
                <xs:element name="actionUserId" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="SetResellerBalanceMovementResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="result" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>


    <!-- SetResellerAssociation-->
    <xs:element name="SetResellerAssociationRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="parentResellerId" type="xs:string"/>
                <xs:element name="childResellerId" type="xs:string"/>
                <xs:element name="actionUserId" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="SetResellerAssociationResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="result" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- RemoveReseller-->
    <xs:element name="RemoveResellerRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="resellerId" type="xs:string"/>
                <xs:element name="actionUserId" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="RemoveResellerResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="result" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- RemoveResellerAssociation-->
    <xs:element name="RemoveResellerAssociationRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="parentResellerId" type="xs:string"/>
                <xs:element name="childResellerId" type="xs:string"/>
                <xs:element name="actionUserId" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="RemoveResellerAssociationResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="result" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- IsHierarchyValid-->
    <xs:element name="IsHierarchyValidRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="resellerId" type="xs:string"/>
                <xs:element name="childResellerId" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="IsHierarchyValidResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="result" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Endpoint Reseller Object-->
    <xs:complexType name="Reseller">
        <xs:sequence>
            <xs:element name="resellerId" type="xs:string"/>
            <xs:element name="userId" type="xs:string"/>
            <xs:element name="resellerName" type="xs:string"/>
            <xs:element name="currentBalance" type="xs:float"/>
            <xs:element name="totalDevices" type="xs:long"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Endpoint ResellerAssociation Object-->
    <xs:complexType name="ResellerAssociation">
        <xs:sequence>
            <xs:element name="resellerAssociationId" type="xs:string"/>
            <xs:element name="parentResellerId" type="xs:string"/>
            <xs:element name="childResellerId" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Endpoint ResellerBalance Object-->
    <xs:complexType name="ResellerBalance">
        <xs:sequence>
            <xs:element name="resellerBalanceId" type="xs:string"/>
            <xs:element name="debitCredit" type="xs:string"/>
            <xs:element name="movementValue" type="xs:float"/>
            <xs:element name="movementDate" type="xs:string"/>
            <xs:element name="movementType" type="xs:string"/>
            <xs:element name="movementDetail" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="SetResellerAssociationResponse">
    <wsdl:part element="tns:SetResellerAssociationResponse" name="SetResellerAssociationResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetResellerParentByChildIdRequest">
    <wsdl:part element="tns:GetResellerParentByChildIdRequest" name="GetResellerParentByChildIdRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SetResellerAssociationRequest">
    <wsdl:part element="tns:SetResellerAssociationRequest" name="SetResellerAssociationRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetResellerByUserDeviceNameResponse">
    <wsdl:part element="tns:GetResellerByUserDeviceNameResponse" name="GetResellerByUserDeviceNameResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="IsHierarchyValidResponse">
    <wsdl:part element="tns:IsHierarchyValidResponse" name="IsHierarchyValidResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetCountResellerBalanceMovementsResponse">
    <wsdl:part element="tns:GetCountResellerBalanceMovementsResponse" name="GetCountResellerBalanceMovementsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="RemoveResellerRequest">
    <wsdl:part element="tns:RemoveResellerRequest" name="RemoveResellerRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="RemoveResellerAssociationRequest">
    <wsdl:part element="tns:RemoveResellerAssociationRequest" name="RemoveResellerAssociationRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SetResellerBalanceMovementResponse">
    <wsdl:part element="tns:SetResellerBalanceMovementResponse" name="SetResellerBalanceMovementResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetAvailableResellerParentResponse">
    <wsdl:part element="tns:GetAvailableResellerParentResponse" name="GetAvailableResellerParentResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SetResellerBalanceMovementRequest">
    <wsdl:part element="tns:SetResellerBalanceMovementRequest" name="SetResellerBalanceMovementRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetCountResellerBalanceMovementsRequest">
    <wsdl:part element="tns:GetCountResellerBalanceMovementsRequest" name="GetCountResellerBalanceMovementsRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetCountResellerFilteredResponse">
    <wsdl:part element="tns:GetCountResellerFilteredResponse" name="GetCountResellerFilteredResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="RemoveResellerAssociationResponse">
    <wsdl:part element="tns:RemoveResellerAssociationResponse" name="RemoveResellerAssociationResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetResellerFilteredResponse">
    <wsdl:part element="tns:GetResellerFilteredResponse" name="GetResellerFilteredResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetResellerBalanceMovementsResponse">
    <wsdl:part element="tns:GetResellerBalanceMovementsResponse" name="GetResellerBalanceMovementsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="RemoveResellerResponse">
    <wsdl:part element="tns:RemoveResellerResponse" name="RemoveResellerResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetResellerParentByChildIdResponse">
    <wsdl:part element="tns:GetResellerParentByChildIdResponse" name="GetResellerParentByChildIdResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetResellerByIdResponse">
    <wsdl:part element="tns:GetResellerByIdResponse" name="GetResellerByIdResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetResellerFilteredRequest">
    <wsdl:part element="tns:GetResellerFilteredRequest" name="GetResellerFilteredRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetResellerByUserIdRequest">
    <wsdl:part element="tns:GetResellerByUserIdRequest" name="GetResellerByUserIdRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetCountResellerFilteredRequest">
    <wsdl:part element="tns:GetCountResellerFilteredRequest" name="GetCountResellerFilteredRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SetResellerResponse">
    <wsdl:part element="tns:SetResellerResponse" name="SetResellerResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetResellerByUserDeviceNameRequest">
    <wsdl:part element="tns:GetResellerByUserDeviceNameRequest" name="GetResellerByUserDeviceNameRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetResellerByIdRequest">
    <wsdl:part element="tns:GetResellerByIdRequest" name="GetResellerByIdRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetResellerBalanceMovementsRequest">
    <wsdl:part element="tns:GetResellerBalanceMovementsRequest" name="GetResellerBalanceMovementsRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetResellerAssociationResponse">
    <wsdl:part element="tns:GetResellerAssociationResponse" name="GetResellerAssociationResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SetResellerRequest">
    <wsdl:part element="tns:SetResellerRequest" name="SetResellerRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetResellerAssociationRequest">
    <wsdl:part element="tns:GetResellerAssociationRequest" name="GetResellerAssociationRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetResellerByUserIdResponse">
    <wsdl:part element="tns:GetResellerByUserIdResponse" name="GetResellerByUserIdResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetCountAvailableResellerParentResponse">
    <wsdl:part element="tns:GetCountAvailableResellerParentResponse" name="GetCountAvailableResellerParentResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetCountAvailableResellerParentRequest">
    <wsdl:part element="tns:GetCountAvailableResellerParentRequest" name="GetCountAvailableResellerParentRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetAvailableResellerParentRequest">
    <wsdl:part element="tns:GetAvailableResellerParentRequest" name="GetAvailableResellerParentRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="IsHierarchyValidRequest">
    <wsdl:part element="tns:IsHierarchyValidRequest" name="IsHierarchyValidRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ResellerPort">
    <wsdl:operation name="SetResellerAssociation">
      <wsdl:input message="tns:SetResellerAssociationRequest" name="SetResellerAssociationRequest">
    </wsdl:input>
      <wsdl:output message="tns:SetResellerAssociationResponse" name="SetResellerAssociationResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetResellerParentByChildId">
      <wsdl:input message="tns:GetResellerParentByChildIdRequest" name="GetResellerParentByChildIdRequest">
    </wsdl:input>
      <wsdl:output message="tns:GetResellerParentByChildIdResponse" name="GetResellerParentByChildIdResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetResellerByUserDeviceName">
      <wsdl:input message="tns:GetResellerByUserDeviceNameRequest" name="GetResellerByUserDeviceNameRequest">
    </wsdl:input>
      <wsdl:output message="tns:GetResellerByUserDeviceNameResponse" name="GetResellerByUserDeviceNameResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsHierarchyValid">
      <wsdl:input message="tns:IsHierarchyValidRequest" name="IsHierarchyValidRequest">
    </wsdl:input>
      <wsdl:output message="tns:IsHierarchyValidResponse" name="IsHierarchyValidResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCountResellerBalanceMovements">
      <wsdl:input message="tns:GetCountResellerBalanceMovementsRequest" name="GetCountResellerBalanceMovementsRequest">
    </wsdl:input>
      <wsdl:output message="tns:GetCountResellerBalanceMovementsResponse" name="GetCountResellerBalanceMovementsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveReseller">
      <wsdl:input message="tns:RemoveResellerRequest" name="RemoveResellerRequest">
    </wsdl:input>
      <wsdl:output message="tns:RemoveResellerResponse" name="RemoveResellerResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveResellerAssociation">
      <wsdl:input message="tns:RemoveResellerAssociationRequest" name="RemoveResellerAssociationRequest">
    </wsdl:input>
      <wsdl:output message="tns:RemoveResellerAssociationResponse" name="RemoveResellerAssociationResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetResellerBalanceMovement">
      <wsdl:input message="tns:SetResellerBalanceMovementRequest" name="SetResellerBalanceMovementRequest">
    </wsdl:input>
      <wsdl:output message="tns:SetResellerBalanceMovementResponse" name="SetResellerBalanceMovementResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAvailableResellerParent">
      <wsdl:input message="tns:GetAvailableResellerParentRequest" name="GetAvailableResellerParentRequest">
    </wsdl:input>
      <wsdl:output message="tns:GetAvailableResellerParentResponse" name="GetAvailableResellerParentResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCountResellerFiltered">
      <wsdl:input message="tns:GetCountResellerFilteredRequest" name="GetCountResellerFilteredRequest">
    </wsdl:input>
      <wsdl:output message="tns:GetCountResellerFilteredResponse" name="GetCountResellerFilteredResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetResellerFiltered">
      <wsdl:input message="tns:GetResellerFilteredRequest" name="GetResellerFilteredRequest">
    </wsdl:input>
      <wsdl:output message="tns:GetResellerFilteredResponse" name="GetResellerFilteredResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetResellerBalanceMovements">
      <wsdl:input message="tns:GetResellerBalanceMovementsRequest" name="GetResellerBalanceMovementsRequest">
    </wsdl:input>
      <wsdl:output message="tns:GetResellerBalanceMovementsResponse" name="GetResellerBalanceMovementsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetResellerById">
      <wsdl:input message="tns:GetResellerByIdRequest" name="GetResellerByIdRequest">
    </wsdl:input>
      <wsdl:output message="tns:GetResellerByIdResponse" name="GetResellerByIdResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetResellerByUserId">
      <wsdl:input message="tns:GetResellerByUserIdRequest" name="GetResellerByUserIdRequest">
    </wsdl:input>
      <wsdl:output message="tns:GetResellerByUserIdResponse" name="GetResellerByUserIdResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetReseller">
      <wsdl:input message="tns:SetResellerRequest" name="SetResellerRequest">
    </wsdl:input>
      <wsdl:output message="tns:SetResellerResponse" name="SetResellerResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetResellerAssociation">
      <wsdl:input message="tns:GetResellerAssociationRequest" name="GetResellerAssociationRequest">
    </wsdl:input>
      <wsdl:output message="tns:GetResellerAssociationResponse" name="GetResellerAssociationResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCountAvailableResellerParent">
      <wsdl:input message="tns:GetCountAvailableResellerParentRequest" name="GetCountAvailableResellerParentRequest">
    </wsdl:input>
      <wsdl:output message="tns:GetCountAvailableResellerParentResponse" name="GetCountAvailableResellerParentResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ResellerPortSoap11" type="tns:ResellerPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="SetResellerAssociation">
      <soap:operation soapAction=""/>
      <wsdl:input name="SetResellerAssociationRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="SetResellerAssociationResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetResellerParentByChildId">
      <soap:operation soapAction=""/>
      <wsdl:input name="GetResellerParentByChildIdRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetResellerParentByChildIdResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetResellerByUserDeviceName">
      <soap:operation soapAction=""/>
      <wsdl:input name="GetResellerByUserDeviceNameRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetResellerByUserDeviceNameResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsHierarchyValid">
      <soap:operation soapAction=""/>
      <wsdl:input name="IsHierarchyValidRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="IsHierarchyValidResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCountResellerBalanceMovements">
      <soap:operation soapAction=""/>
      <wsdl:input name="GetCountResellerBalanceMovementsRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetCountResellerBalanceMovementsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveReseller">
      <soap:operation soapAction=""/>
      <wsdl:input name="RemoveResellerRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="RemoveResellerResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveResellerAssociation">
      <soap:operation soapAction=""/>
      <wsdl:input name="RemoveResellerAssociationRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="RemoveResellerAssociationResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetResellerBalanceMovement">
      <soap:operation soapAction=""/>
      <wsdl:input name="SetResellerBalanceMovementRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="SetResellerBalanceMovementResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAvailableResellerParent">
      <soap:operation soapAction=""/>
      <wsdl:input name="GetAvailableResellerParentRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetAvailableResellerParentResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCountResellerFiltered">
      <soap:operation soapAction=""/>
      <wsdl:input name="GetCountResellerFilteredRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetCountResellerFilteredResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetResellerFiltered">
      <soap:operation soapAction=""/>
      <wsdl:input name="GetResellerFilteredRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetResellerFilteredResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetResellerBalanceMovements">
      <soap:operation soapAction=""/>
      <wsdl:input name="GetResellerBalanceMovementsRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetResellerBalanceMovementsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetResellerById">
      <soap:operation soapAction=""/>
      <wsdl:input name="GetResellerByIdRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetResellerByIdResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetResellerByUserId">
      <soap:operation soapAction=""/>
      <wsdl:input name="GetResellerByUserIdRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetResellerByUserIdResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetReseller">
      <soap:operation soapAction=""/>
      <wsdl:input name="SetResellerRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="SetResellerResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetResellerAssociation">
      <soap:operation soapAction=""/>
      <wsdl:input name="GetResellerAssociationRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetResellerAssociationResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCountAvailableResellerParent">
      <soap:operation soapAction=""/>
      <wsdl:input name="GetCountAvailableResellerParentRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetCountAvailableResellerParentResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ResellerPortService">
    <wsdl:port binding="tns:ResellerPortSoap11" name="ResellerPortSoap11">
      <soap:address location="http://localhost:8080/serverapi/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>