src/main/resources/wsdls/support.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://www.mob.com/serverapi/support/base" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.mob.com/serverapi/support/base" targetNamespace="http://www.mob.com/serverapi/support/base">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.mob.com/serverapi/support/base">

    <!-- GetSupportById-->
    <xs:element name="GetSupportByIdRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="supportId" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetSupportByIdResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="support" type="tns:Support"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- GetSupportByUserId-->
    <xs:element name="GetSupportByUserIdRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="userId" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetSupportByUserIdResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="support" type="tns:Support"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- GetSupportFiltered-->
    <xs:element name="GetSupportFilteredRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="supportId" type="xs:string"/>
                <xs:element name="supportName" type="xs:string"/>
                <xs:element name="onlyChildren" type="xs:boolean"/>
                <xs:element name="field" type="xs:string"/>
                <xs:element name="orderField" type="xs:string"/>
                <xs:element name="offset" type="xs:int"/>
                <xs:element name="numberRecords" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetSupportFilteredResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="support" type="tns:Support"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- GetTicketFiltered-->
    <xs:element name="GetTicketFilteredRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ticketId" type="xs:string"/>
                <xs:element name="ticketStatus" type="xs:string"/>
                <xs:element name="startCreationDate" type="xs:string"/>
                <xs:element name="endCreationDate" type="xs:string"/>
                <xs:element name="openUserId" type="xs:string"/>
                <xs:element name="assignedUserId" type="xs:string"/>
                <xs:element name="field" type="xs:string"/>
                <xs:element name="orderField" type="xs:string"/>
                <xs:element name="offset" type="xs:int"/>
                <xs:element name="numberRecords" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetTicketFilteredResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="ticket" type="tns:Ticket"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- GetCountTicketFiltered-->
    <xs:element name="GetCountTicketFilteredRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ticketId" type="xs:string"/>
                <xs:element name="ticketStatus" type="xs:string"/>
                <xs:element name="startCreationDate" type="xs:string"/>
                <xs:element name="endCreationDate" type="xs:string"/>
                <xs:element name="openUserId" type="xs:string"/>
                <xs:element name="assignedUserId" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetCountTicketFilteredResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="result" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- GetTicketDetailFiltered-->
    <xs:element name="GetTicketDetailFilteredRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ticketId" type="xs:string"/>
                <xs:element name="startDetailDate" type="xs:string"/>
                <xs:element name="endDetailDate" type="xs:string"/>
                <xs:element name="responseUserId" type="xs:string"/>
                <xs:element name="field" type="xs:string"/>
                <xs:element name="orderField" type="xs:string"/>
                <xs:element name="offset" type="xs:int"/>
                <xs:element name="numberRecords" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetTicketDetailFilteredResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="ticketDetail" type="tns:TicketDetail"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- GetCountTicketDetailFiltered-->
    <xs:element name="GetCountTicketDetailFilteredRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ticketId" type="xs:string"/>
                <xs:element name="startDetailDate" type="xs:string"/>
                <xs:element name="endDetailDate" type="xs:string"/>
                <xs:element name="responseUserId" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetCountTicketDetailFilteredResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="result" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- GetCountSupportFiltered-->
    <xs:element name="GetCountSupportFilteredRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="supportId" type="xs:string"/>
                <xs:element name="supportName" type="xs:string"/>
                <xs:element name="onlyChildren" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetCountSupportFilteredResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="result" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>



    <!-- GetSupportAssociation-->
    <xs:element name="GetSupportAssociationRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="parentSupportId" type="xs:string"/>
                <xs:element name="childSupportId" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetSupportAssociationResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="supportAssociation" type="tns:SupportAssociation"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- GetSupportParentByChildId-->
    <xs:element name="GetSupportParentByChildIdRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="childSupportId" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetSupportParentByChildIdResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="support" type="tns:Support"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- GetAvailableSupportParent-->
    <xs:element name="GetAvailableSupportParentRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="supportId" type="xs:string"/>
                <xs:element name="offset" type="xs:int"/>
                <xs:element name="numberRecords" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetAvailableSupportParentResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="support" type="tns:Support"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- GetCountAvailableSupportParent-->
    <xs:element name="GetCountAvailableSupportParentRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="supportId" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetCountAvailableSupportParentResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="result" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- SetSupport-->
    <xs:element name="SetSupportRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="userId" type="xs:string"/>
                <xs:element name="actionUserId" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="SetSupportResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="support" type="tns:Support"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- SetSupportAssociation-->
    <xs:element name="SetSupportAssociationRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="parentSupportId" type="xs:string"/>
                <xs:element name="childSupportId" type="xs:string"/>
                <xs:element name="actionUserId" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="SetSupportAssociationResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="result" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- SetTicket-->
    <xs:element name="SetTicketRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="title" type="xs:string"/>
                <xs:element name="message" type="xs:string"/>
                <xs:element name="attachPath" type="xs:string"/>
                <xs:element name="creationUserId" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="SetTicketResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ticket" type="tns:Ticket"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- SetTicketDetail-->
    <xs:element name="SetTicketDetailRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ticketId" type="xs:string"/>
                <xs:element name="message" type="xs:string"/>
                <xs:element name="attachPath" type="xs:string"/>
                <xs:element name="actionUserId" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="SetTicketDetailResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="result" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- UpdateTicket -->
    <xs:element name="UpdateTicketRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ticketId" type="xs:string"/>
                <xs:element name="status" type="xs:string"/>
                <xs:element name="assignedUserId" type="xs:string"/>
                <xs:element name="actionUserId" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="UpdateTicketResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="result" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- RemoveSupport-->
    <xs:element name="RemoveSupportRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="supportId" type="xs:string"/>
                <xs:element name="actionUserId" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="RemoveSupportResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="result" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- RemoveSupportAssociation-->
    <xs:element name="RemoveSupportAssociationRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="parentSupportId" type="xs:string"/>
                <xs:element name="childSupportId" type="xs:string"/>
                <xs:element name="actionUserId" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="RemoveSupportAssociationResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="result" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- IsHierarchyValid-->
    <xs:element name="IsHierarchyValidRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="supportId" type="xs:string"/>
                <xs:element name="childSupportId" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="IsHierarchyValidResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="result" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Endpoint Support Object-->
    <xs:complexType name="Support">
        <xs:sequence>
            <xs:element name="supportId" type="xs:string"/>
            <xs:element name="userId" type="xs:string"/>
            <xs:element name="supportName" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Endpoint SupportAssociation Object-->
    <xs:complexType name="SupportAssociation">
        <xs:sequence>
            <xs:element name="supportAssociationId" type="xs:string"/>
            <xs:element name="parentSupportId" type="xs:string"/>
            <xs:element name="childSupportId" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Endpoint Ticket Object-->
    <xs:complexType name="Ticket">
        <xs:sequence>
            <xs:element name="ticketId" type="xs:string"/>
            <xs:element name="title" type="xs:string"/>
            <xs:element name="status" type="xs:string"/>
            <xs:element name="creationDate" type="xs:string"/>
            <xs:element name="creationUserId" type="xs:string"/>
            <xs:element name="assignedUserId" type="xs:string"/>
            <xs:element name="attachPath" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Endpoint TicketDetail Object-->
    <xs:complexType name="TicketDetail">
        <xs:sequence>
            <xs:element name="ticketId" type="xs:string"/>
            <xs:element name="ticketDetailId" type="xs:string"/>
            <xs:element name="detail" type="xs:string"/>
            <xs:element name="originalMessage" type="xs:boolean"/>
            <xs:element name="detailDate" type="xs:string"/>
            <xs:element name="detailUserId" type="xs:string"/>
            <xs:element name="attachPath" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="SetTicketDetailResponse">
    <wsdl:part element="tns:SetTicketDetailResponse" name="SetTicketDetailResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="RemoveSupportRequest">
    <wsdl:part element="tns:RemoveSupportRequest" name="RemoveSupportRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="RemoveSupportResponse">
    <wsdl:part element="tns:RemoveSupportResponse" name="RemoveSupportResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SetSupportAssociationResponse">
    <wsdl:part element="tns:SetSupportAssociationResponse" name="SetSupportAssociationResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetCountTicketFilteredRequest">
    <wsdl:part element="tns:GetCountTicketFilteredRequest" name="GetCountTicketFilteredRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetCountAvailableSupportParentResponse">
    <wsdl:part element="tns:GetCountAvailableSupportParentResponse" name="GetCountAvailableSupportParentResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="UpdateTicketResponse">
    <wsdl:part element="tns:UpdateTicketResponse" name="UpdateTicketResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="RemoveSupportAssociationRequest">
    <wsdl:part element="tns:RemoveSupportAssociationRequest" name="RemoveSupportAssociationRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SetSupportRequest">
    <wsdl:part element="tns:SetSupportRequest" name="SetSupportRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetSupportFilteredResponse">
    <wsdl:part element="tns:GetSupportFilteredResponse" name="GetSupportFilteredResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetAvailableSupportParentResponse">
    <wsdl:part element="tns:GetAvailableSupportParentResponse" name="GetAvailableSupportParentResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="RemoveSupportAssociationResponse">
    <wsdl:part element="tns:RemoveSupportAssociationResponse" name="RemoveSupportAssociationResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="UpdateTicketRequest">
    <wsdl:part element="tns:UpdateTicketRequest" name="UpdateTicketRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetSupportByIdRequest">
    <wsdl:part element="tns:GetSupportByIdRequest" name="GetSupportByIdRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetSupportAssociationRequest">
    <wsdl:part element="tns:GetSupportAssociationRequest" name="GetSupportAssociationRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SetTicketDetailRequest">
    <wsdl:part element="tns:SetTicketDetailRequest" name="SetTicketDetailRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="IsHierarchyValidResponse">
    <wsdl:part element="tns:IsHierarchyValidResponse" name="IsHierarchyValidResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetSupportFilteredRequest">
    <wsdl:part element="tns:GetSupportFilteredRequest" name="GetSupportFilteredRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetCountSupportFilteredRequest">
    <wsdl:part element="tns:GetCountSupportFilteredRequest" name="GetCountSupportFilteredRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetSupportParentByChildIdRequest">
    <wsdl:part element="tns:GetSupportParentByChildIdRequest" name="GetSupportParentByChildIdRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetTicketDetailFilteredRequest">
    <wsdl:part element="tns:GetTicketDetailFilteredRequest" name="GetTicketDetailFilteredRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetSupportAssociationResponse">
    <wsdl:part element="tns:GetSupportAssociationResponse" name="GetSupportAssociationResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetTicketFilteredResponse">
    <wsdl:part element="tns:GetTicketFilteredResponse" name="GetTicketFilteredResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetSupportByIdResponse">
    <wsdl:part element="tns:GetSupportByIdResponse" name="GetSupportByIdResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetSupportByUserIdResponse">
    <wsdl:part element="tns:GetSupportByUserIdResponse" name="GetSupportByUserIdResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetSupportParentByChildIdResponse">
    <wsdl:part element="tns:GetSupportParentByChildIdResponse" name="GetSupportParentByChildIdResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="IsHierarchyValidRequest">
    <wsdl:part element="tns:IsHierarchyValidRequest" name="IsHierarchyValidRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetCountTicketFilteredResponse">
    <wsdl:part element="tns:GetCountTicketFilteredResponse" name="GetCountTicketFilteredResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetTicketFilteredRequest">
    <wsdl:part element="tns:GetTicketFilteredRequest" name="GetTicketFilteredRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetTicketDetailFilteredResponse">
    <wsdl:part element="tns:GetTicketDetailFilteredResponse" name="GetTicketDetailFilteredResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetCountTicketDetailFilteredRequest">
    <wsdl:part element="tns:GetCountTicketDetailFilteredRequest" name="GetCountTicketDetailFilteredRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetCountSupportFilteredResponse">
    <wsdl:part element="tns:GetCountSupportFilteredResponse" name="GetCountSupportFilteredResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetCountTicketDetailFilteredResponse">
    <wsdl:part element="tns:GetCountTicketDetailFilteredResponse" name="GetCountTicketDetailFilteredResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetSupportByUserIdRequest">
    <wsdl:part element="tns:GetSupportByUserIdRequest" name="GetSupportByUserIdRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetAvailableSupportParentRequest">
    <wsdl:part element="tns:GetAvailableSupportParentRequest" name="GetAvailableSupportParentRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetCountAvailableSupportParentRequest">
    <wsdl:part element="tns:GetCountAvailableSupportParentRequest" name="GetCountAvailableSupportParentRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SetSupportAssociationRequest">
    <wsdl:part element="tns:SetSupportAssociationRequest" name="SetSupportAssociationRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SetTicketResponse">
    <wsdl:part element="tns:SetTicketResponse" name="SetTicketResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SetSupportResponse">
    <wsdl:part element="tns:SetSupportResponse" name="SetSupportResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SetTicketRequest">
    <wsdl:part element="tns:SetTicketRequest" name="SetTicketRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="SupportPort">
    <wsdl:operation name="SetTicketDetail">
      <wsdl:input message="tns:SetTicketDetailRequest" name="SetTicketDetailRequest">
    </wsdl:input>
      <wsdl:output message="tns:SetTicketDetailResponse" name="SetTicketDetailResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveSupport">
      <wsdl:input message="tns:RemoveSupportRequest" name="RemoveSupportRequest">
    </wsdl:input>
      <wsdl:output message="tns:RemoveSupportResponse" name="RemoveSupportResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSupportAssociation">
      <wsdl:input message="tns:SetSupportAssociationRequest" name="SetSupportAssociationRequest">
    </wsdl:input>
      <wsdl:output message="tns:SetSupportAssociationResponse" name="SetSupportAssociationResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCountTicketFiltered">
      <wsdl:input message="tns:GetCountTicketFilteredRequest" name="GetCountTicketFilteredRequest">
    </wsdl:input>
      <wsdl:output message="tns:GetCountTicketFilteredResponse" name="GetCountTicketFilteredResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCountAvailableSupportParent">
      <wsdl:input message="tns:GetCountAvailableSupportParentRequest" name="GetCountAvailableSupportParentRequest">
    </wsdl:input>
      <wsdl:output message="tns:GetCountAvailableSupportParentResponse" name="GetCountAvailableSupportParentResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTicket">
      <wsdl:input message="tns:UpdateTicketRequest" name="UpdateTicketRequest">
    </wsdl:input>
      <wsdl:output message="tns:UpdateTicketResponse" name="UpdateTicketResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveSupportAssociation">
      <wsdl:input message="tns:RemoveSupportAssociationRequest" name="RemoveSupportAssociationRequest">
    </wsdl:input>
      <wsdl:output message="tns:RemoveSupportAssociationResponse" name="RemoveSupportAssociationResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSupport">
      <wsdl:input message="tns:SetSupportRequest" name="SetSupportRequest">
    </wsdl:input>
      <wsdl:output message="tns:SetSupportResponse" name="SetSupportResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSupportFiltered">
      <wsdl:input message="tns:GetSupportFilteredRequest" name="GetSupportFilteredRequest">
    </wsdl:input>
      <wsdl:output message="tns:GetSupportFilteredResponse" name="GetSupportFilteredResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAvailableSupportParent">
      <wsdl:input message="tns:GetAvailableSupportParentRequest" name="GetAvailableSupportParentRequest">
    </wsdl:input>
      <wsdl:output message="tns:GetAvailableSupportParentResponse" name="GetAvailableSupportParentResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSupportById">
      <wsdl:input message="tns:GetSupportByIdRequest" name="GetSupportByIdRequest">
    </wsdl:input>
      <wsdl:output message="tns:GetSupportByIdResponse" name="GetSupportByIdResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSupportAssociation">
      <wsdl:input message="tns:GetSupportAssociationRequest" name="GetSupportAssociationRequest">
    </wsdl:input>
      <wsdl:output message="tns:GetSupportAssociationResponse" name="GetSupportAssociationResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsHierarchyValid">
      <wsdl:input message="tns:IsHierarchyValidRequest" name="IsHierarchyValidRequest">
    </wsdl:input>
      <wsdl:output message="tns:IsHierarchyValidResponse" name="IsHierarchyValidResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCountSupportFiltered">
      <wsdl:input message="tns:GetCountSupportFilteredRequest" name="GetCountSupportFilteredRequest">
    </wsdl:input>
      <wsdl:output message="tns:GetCountSupportFilteredResponse" name="GetCountSupportFilteredResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSupportParentByChildId">
      <wsdl:input message="tns:GetSupportParentByChildIdRequest" name="GetSupportParentByChildIdRequest">
    </wsdl:input>
      <wsdl:output message="tns:GetSupportParentByChildIdResponse" name="GetSupportParentByChildIdResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTicketDetailFiltered">
      <wsdl:input message="tns:GetTicketDetailFilteredRequest" name="GetTicketDetailFilteredRequest">
    </wsdl:input>
      <wsdl:output message="tns:GetTicketDetailFilteredResponse" name="GetTicketDetailFilteredResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTicketFiltered">
      <wsdl:input message="tns:GetTicketFilteredRequest" name="GetTicketFilteredRequest">
    </wsdl:input>
      <wsdl:output message="tns:GetTicketFilteredResponse" name="GetTicketFilteredResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSupportByUserId">
      <wsdl:input message="tns:GetSupportByUserIdRequest" name="GetSupportByUserIdRequest">
    </wsdl:input>
      <wsdl:output message="tns:GetSupportByUserIdResponse" name="GetSupportByUserIdResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCountTicketDetailFiltered">
      <wsdl:input message="tns:GetCountTicketDetailFilteredRequest" name="GetCountTicketDetailFilteredRequest">
    </wsdl:input>
      <wsdl:output message="tns:GetCountTicketDetailFilteredResponse" name="GetCountTicketDetailFilteredResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetTicket">
      <wsdl:input message="tns:SetTicketRequest" name="SetTicketRequest">
    </wsdl:input>
      <wsdl:output message="tns:SetTicketResponse" name="SetTicketResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SupportPortSoap11" type="tns:SupportPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="SetTicketDetail">
      <soap:operation soapAction=""/>
      <wsdl:input name="SetTicketDetailRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="SetTicketDetailResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveSupport">
      <soap:operation soapAction=""/>
      <wsdl:input name="RemoveSupportRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="RemoveSupportResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSupportAssociation">
      <soap:operation soapAction=""/>
      <wsdl:input name="SetSupportAssociationRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="SetSupportAssociationResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCountTicketFiltered">
      <soap:operation soapAction=""/>
      <wsdl:input name="GetCountTicketFilteredRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetCountTicketFilteredResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCountAvailableSupportParent">
      <soap:operation soapAction=""/>
      <wsdl:input name="GetCountAvailableSupportParentRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetCountAvailableSupportParentResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTicket">
      <soap:operation soapAction=""/>
      <wsdl:input name="UpdateTicketRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="UpdateTicketResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveSupportAssociation">
      <soap:operation soapAction=""/>
      <wsdl:input name="RemoveSupportAssociationRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="RemoveSupportAssociationResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSupport">
      <soap:operation soapAction=""/>
      <wsdl:input name="SetSupportRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="SetSupportResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSupportFiltered">
      <soap:operation soapAction=""/>
      <wsdl:input name="GetSupportFilteredRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetSupportFilteredResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAvailableSupportParent">
      <soap:operation soapAction=""/>
      <wsdl:input name="GetAvailableSupportParentRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetAvailableSupportParentResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSupportById">
      <soap:operation soapAction=""/>
      <wsdl:input name="GetSupportByIdRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetSupportByIdResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSupportAssociation">
      <soap:operation soapAction=""/>
      <wsdl:input name="GetSupportAssociationRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetSupportAssociationResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsHierarchyValid">
      <soap:operation soapAction=""/>
      <wsdl:input name="IsHierarchyValidRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="IsHierarchyValidResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCountSupportFiltered">
      <soap:operation soapAction=""/>
      <wsdl:input name="GetCountSupportFilteredRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetCountSupportFilteredResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSupportParentByChildId">
      <soap:operation soapAction=""/>
      <wsdl:input name="GetSupportParentByChildIdRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetSupportParentByChildIdResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTicketDetailFiltered">
      <soap:operation soapAction=""/>
      <wsdl:input name="GetTicketDetailFilteredRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetTicketDetailFilteredResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTicketFiltered">
      <soap:operation soapAction=""/>
      <wsdl:input name="GetTicketFilteredRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetTicketFilteredResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSupportByUserId">
      <soap:operation soapAction=""/>
      <wsdl:input name="GetSupportByUserIdRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetSupportByUserIdResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCountTicketDetailFiltered">
      <soap:operation soapAction=""/>
      <wsdl:input name="GetCountTicketDetailFilteredRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetCountTicketDetailFilteredResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetTicket">
      <soap:operation soapAction=""/>
      <wsdl:input name="SetTicketRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="SetTicketResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SupportPortService">
    <wsdl:port binding="tns:SupportPortSoap11" name="SupportPortSoap11">
      <soap:address location="http://localhost:8080/serverapi/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>