src/main/resources/wsdls/users.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://www.mob.com/serverapi/users/base" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.mob.com/serverapi/users/base" targetNamespace="http://www.mob.com/serverapi/users/base">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.mob.com/serverapi/users/base">

    <!-- GetUserById-->
    <xs:element name="GetUserByIdRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="userId" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetUserByIdResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="user" type="tns:User"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- GetUserRolesByUserId-->
    <xs:element name="GetUserRolesByUserIdRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="userId" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetUserRolesByUserIdResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="userRole" type="tns:UserRole"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- GetUserFiltered-->
    <xs:element name="GetUserFilteredRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="userId" type="xs:string"/>
                <xs:element name="userName" type="xs:string"/>
                <xs:element name="userStatus" type="xs:string"/>
                <xs:element name="userEmail" type="xs:string"/>
                <xs:element name="startCreationDate" type="xs:string"/>
                <xs:element name="endCreationDate" type="xs:string"/>
                <xs:element name="field" type="xs:string"/>
                <xs:element name="orderField" type="xs:string"/>
                <xs:element name="offset" type="xs:int"/>
                <xs:element name="numberRecords" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetUserFilteredResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="user" type="tns:User"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- GetCountUserFiltered-->
    <xs:element name="GetCountUserFilteredRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="userId" type="xs:string"/>
                <xs:element name="userName" type="xs:string"/>
                <xs:element name="userStatus" type="xs:string"/>
                <xs:element name="userEmail" type="xs:string"/>
                <xs:element name="startCreationDate" type="xs:string"/>
                <xs:element name="endCreationDate" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetCountUserFilteredResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="result" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- UserLogin-->
    <xs:element name="UserLoginRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="userEmail" type="xs:string"/>
                <xs:element name="userPassword" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="UserLoginResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="user" type="tns:User"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- SetUser-->
    <xs:element name="SetUserRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="userName" type="xs:string"/>
                <xs:element name="userEmail" type="xs:string"/>
                <xs:element name="userPassword" type="xs:string"/>
                <xs:element name="actionUserId" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="SetUserResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="user" type="tns:User"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- UnblockUser-->
    <xs:element name="UnblockUserRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="userId" type="xs:string"/>
                <xs:element name="actionUserId" type="xs:string"/>

            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="UnblockUserResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="result" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- ChangeUserPw-->
    <xs:element name="ChangeUserPwRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="userId" type="xs:string"/>
                <xs:element name="password" type="xs:string"/>
                <xs:element name="actionUserId" type="xs:string"/>

            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ChangeUserPwResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="result" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- InactivateUser-->
    <xs:element name="InactivateUserRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="userId" type="xs:string"/>
                <xs:element name="actionUserId" type="xs:string"/>

            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="InactivateUserResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="result" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- ActivateUser-->
    <xs:element name="ActivateUserRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="userId" type="xs:string"/>
                <xs:element name="actionUserId" type="xs:string"/>

            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ActivateUserResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="result" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- ChangeLangPreference-->
    <xs:element name="ChangeLangPreferenceRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="userId" type="xs:string"/>
                <xs:element name="lang" type="xs:string"/>
                <xs:element name="actionUserId" type="xs:string"/>

            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ChangeLangPreferenceResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="result" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- ChangeThemePreference-->
    <xs:element name="ChangeThemePreferenceRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="userId" type="xs:string"/>
                <xs:element name="theme" type="xs:string"/>
                <xs:element name="actionUserId" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ChangeThemePreferenceResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="result" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- ExistUserName-->
    <xs:element name="ExistUserNameRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="userName" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ExistUserNameResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="result" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- ExistUserEmail-->
    <xs:element name="ExistUserEmailRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="userEmail" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ExistUserEmailResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="result" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- SetUserAdmin-->
    <xs:element name="SetUserAdminRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="userId" type="xs:string"/>
                <xs:element name="actionUserId" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="SetUserAdminResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="result" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- RemoveUserAdmin-->
    <xs:element name="RemoveUserAdminRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="userId" type="xs:string"/>
                <xs:element name="actionUserId" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="RemoveUserAdminResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="result" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Endpoint User Object-->
    <xs:complexType name="User">
        <xs:sequence>
            <xs:element name="userId" type="xs:string"/>
            <xs:element name="userName" type="xs:string"/>
            <xs:element name="userEmail" type="xs:string"/>
            <xs:element name="userStatus" type="xs:string"/>
            <xs:element name="languagePreference" type="xs:string"/>
            <xs:element name="themePreference" type="xs:string"/>
            <xs:element name="creationDate" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Endpoint UserRole Object-->
    <xs:complexType name="UserRole">
        <xs:sequence>
            <xs:element name="userRoleId" type="xs:string"/>
            <xs:element name="userRoleName" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="ChangeUserPwRequest">
    <wsdl:part element="tns:ChangeUserPwRequest" name="ChangeUserPwRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="RemoveUserAdminRequest">
    <wsdl:part element="tns:RemoveUserAdminRequest" name="RemoveUserAdminRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="RemoveUserAdminResponse">
    <wsdl:part element="tns:RemoveUserAdminResponse" name="RemoveUserAdminResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ChangeLangPreferenceRequest">
    <wsdl:part element="tns:ChangeLangPreferenceRequest" name="ChangeLangPreferenceRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="UnblockUserRequest">
    <wsdl:part element="tns:UnblockUserRequest" name="UnblockUserRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="UserLoginResponse">
    <wsdl:part element="tns:UserLoginResponse" name="UserLoginResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="UserLoginRequest">
    <wsdl:part element="tns:UserLoginRequest" name="UserLoginRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ChangeThemePreferenceRequest">
    <wsdl:part element="tns:ChangeThemePreferenceRequest" name="ChangeThemePreferenceRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetUserFilteredRequest">
    <wsdl:part element="tns:GetUserFilteredRequest" name="GetUserFilteredRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ActivateUserResponse">
    <wsdl:part element="tns:ActivateUserResponse" name="ActivateUserResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetCountUserFilteredResponse">
    <wsdl:part element="tns:GetCountUserFilteredResponse" name="GetCountUserFilteredResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ChangeUserPwResponse">
    <wsdl:part element="tns:ChangeUserPwResponse" name="ChangeUserPwResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ChangeThemePreferenceResponse">
    <wsdl:part element="tns:ChangeThemePreferenceResponse" name="ChangeThemePreferenceResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetCountUserFilteredRequest">
    <wsdl:part element="tns:GetCountUserFilteredRequest" name="GetCountUserFilteredRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ActivateUserRequest">
    <wsdl:part element="tns:ActivateUserRequest" name="ActivateUserRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ExistUserNameRequest">
    <wsdl:part element="tns:ExistUserNameRequest" name="ExistUserNameRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="InactivateUserRequest">
    <wsdl:part element="tns:InactivateUserRequest" name="InactivateUserRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="InactivateUserResponse">
    <wsdl:part element="tns:InactivateUserResponse" name="InactivateUserResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SetUserAdminRequest">
    <wsdl:part element="tns:SetUserAdminRequest" name="SetUserAdminRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetUserRolesByUserIdRequest">
    <wsdl:part element="tns:GetUserRolesByUserIdRequest" name="GetUserRolesByUserIdRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SetUserAdminResponse">
    <wsdl:part element="tns:SetUserAdminResponse" name="SetUserAdminResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetUserFilteredResponse">
    <wsdl:part element="tns:GetUserFilteredResponse" name="GetUserFilteredResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ChangeLangPreferenceResponse">
    <wsdl:part element="tns:ChangeLangPreferenceResponse" name="ChangeLangPreferenceResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ExistUserEmailResponse">
    <wsdl:part element="tns:ExistUserEmailResponse" name="ExistUserEmailResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetUserByIdRequest">
    <wsdl:part element="tns:GetUserByIdRequest" name="GetUserByIdRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ExistUserEmailRequest">
    <wsdl:part element="tns:ExistUserEmailRequest" name="ExistUserEmailRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetUserRolesByUserIdResponse">
    <wsdl:part element="tns:GetUserRolesByUserIdResponse" name="GetUserRolesByUserIdResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetUserByIdResponse">
    <wsdl:part element="tns:GetUserByIdResponse" name="GetUserByIdResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SetUserRequest">
    <wsdl:part element="tns:SetUserRequest" name="SetUserRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SetUserResponse">
    <wsdl:part element="tns:SetUserResponse" name="SetUserResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ExistUserNameResponse">
    <wsdl:part element="tns:ExistUserNameResponse" name="ExistUserNameResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="UnblockUserResponse">
    <wsdl:part element="tns:UnblockUserResponse" name="UnblockUserResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="UsersPort">
    <wsdl:operation name="ChangeUserPw">
      <wsdl:input message="tns:ChangeUserPwRequest" name="ChangeUserPwRequest">
    </wsdl:input>
      <wsdl:output message="tns:ChangeUserPwResponse" name="ChangeUserPwResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveUserAdmin">
      <wsdl:input message="tns:RemoveUserAdminRequest" name="RemoveUserAdminRequest">
    </wsdl:input>
      <wsdl:output message="tns:RemoveUserAdminResponse" name="RemoveUserAdminResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeLangPreference">
      <wsdl:input message="tns:ChangeLangPreferenceRequest" name="ChangeLangPreferenceRequest">
    </wsdl:input>
      <wsdl:output message="tns:ChangeLangPreferenceResponse" name="ChangeLangPreferenceResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnblockUser">
      <wsdl:input message="tns:UnblockUserRequest" name="UnblockUserRequest">
    </wsdl:input>
      <wsdl:output message="tns:UnblockUserResponse" name="UnblockUserResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserLogin">
      <wsdl:input message="tns:UserLoginRequest" name="UserLoginRequest">
    </wsdl:input>
      <wsdl:output message="tns:UserLoginResponse" name="UserLoginResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeThemePreference">
      <wsdl:input message="tns:ChangeThemePreferenceRequest" name="ChangeThemePreferenceRequest">
    </wsdl:input>
      <wsdl:output message="tns:ChangeThemePreferenceResponse" name="ChangeThemePreferenceResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserFiltered">
      <wsdl:input message="tns:GetUserFilteredRequest" name="GetUserFilteredRequest">
    </wsdl:input>
      <wsdl:output message="tns:GetUserFilteredResponse" name="GetUserFilteredResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActivateUser">
      <wsdl:input message="tns:ActivateUserRequest" name="ActivateUserRequest">
    </wsdl:input>
      <wsdl:output message="tns:ActivateUserResponse" name="ActivateUserResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCountUserFiltered">
      <wsdl:input message="tns:GetCountUserFilteredRequest" name="GetCountUserFilteredRequest">
    </wsdl:input>
      <wsdl:output message="tns:GetCountUserFilteredResponse" name="GetCountUserFilteredResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExistUserName">
      <wsdl:input message="tns:ExistUserNameRequest" name="ExistUserNameRequest">
    </wsdl:input>
      <wsdl:output message="tns:ExistUserNameResponse" name="ExistUserNameResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InactivateUser">
      <wsdl:input message="tns:InactivateUserRequest" name="InactivateUserRequest">
    </wsdl:input>
      <wsdl:output message="tns:InactivateUserResponse" name="InactivateUserResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetUserAdmin">
      <wsdl:input message="tns:SetUserAdminRequest" name="SetUserAdminRequest">
    </wsdl:input>
      <wsdl:output message="tns:SetUserAdminResponse" name="SetUserAdminResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserRolesByUserId">
      <wsdl:input message="tns:GetUserRolesByUserIdRequest" name="GetUserRolesByUserIdRequest">
    </wsdl:input>
      <wsdl:output message="tns:GetUserRolesByUserIdResponse" name="GetUserRolesByUserIdResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExistUserEmail">
      <wsdl:input message="tns:ExistUserEmailRequest" name="ExistUserEmailRequest">
    </wsdl:input>
      <wsdl:output message="tns:ExistUserEmailResponse" name="ExistUserEmailResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserById">
      <wsdl:input message="tns:GetUserByIdRequest" name="GetUserByIdRequest">
    </wsdl:input>
      <wsdl:output message="tns:GetUserByIdResponse" name="GetUserByIdResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetUser">
      <wsdl:input message="tns:SetUserRequest" name="SetUserRequest">
    </wsdl:input>
      <wsdl:output message="tns:SetUserResponse" name="SetUserResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UsersPortSoap11" type="tns:UsersPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="ChangeUserPw">
      <soap:operation soapAction=""/>
      <wsdl:input name="ChangeUserPwRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="ChangeUserPwResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveUserAdmin">
      <soap:operation soapAction=""/>
      <wsdl:input name="RemoveUserAdminRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="RemoveUserAdminResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeLangPreference">
      <soap:operation soapAction=""/>
      <wsdl:input name="ChangeLangPreferenceRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="ChangeLangPreferenceResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnblockUser">
      <soap:operation soapAction=""/>
      <wsdl:input name="UnblockUserRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="UnblockUserResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserLogin">
      <soap:operation soapAction=""/>
      <wsdl:input name="UserLoginRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="UserLoginResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeThemePreference">
      <soap:operation soapAction=""/>
      <wsdl:input name="ChangeThemePreferenceRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="ChangeThemePreferenceResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserFiltered">
      <soap:operation soapAction=""/>
      <wsdl:input name="GetUserFilteredRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetUserFilteredResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActivateUser">
      <soap:operation soapAction=""/>
      <wsdl:input name="ActivateUserRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="ActivateUserResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCountUserFiltered">
      <soap:operation soapAction=""/>
      <wsdl:input name="GetCountUserFilteredRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetCountUserFilteredResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExistUserName">
      <soap:operation soapAction=""/>
      <wsdl:input name="ExistUserNameRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="ExistUserNameResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InactivateUser">
      <soap:operation soapAction=""/>
      <wsdl:input name="InactivateUserRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="InactivateUserResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetUserAdmin">
      <soap:operation soapAction=""/>
      <wsdl:input name="SetUserAdminRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="SetUserAdminResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserRolesByUserId">
      <soap:operation soapAction=""/>
      <wsdl:input name="GetUserRolesByUserIdRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetUserRolesByUserIdResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExistUserEmail">
      <soap:operation soapAction=""/>
      <wsdl:input name="ExistUserEmailRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="ExistUserEmailResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserById">
      <soap:operation soapAction=""/>
      <wsdl:input name="GetUserByIdRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetUserByIdResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetUser">
      <soap:operation soapAction=""/>
      <wsdl:input name="SetUserRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="SetUserResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UsersPortService">
    <wsdl:port binding="tns:UsersPortSoap11" name="UsersPortSoap11">
      <soap:address location="http://localhost:8080/serverapi/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>